@import "tailwindcss";

@theme {
  --color-primary: #6C3FF3;
  --color-primary-light: #A78BFA;
  --color-bg-dark: #0A0A0F;
  --color-bg-card: #13131A;
  --color-bg-card-hover: #1A1A24;
  --color-text-main: #FFFFFF;
  --color-text-muted: #B0B0C0;
  --font-display: "Inter", system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-display);
  background-color: var(--color-bg-dark);
  color: var(--color-text-main);
}
